{% extends "base.html" %}
{% load static %}

    
{% block styles %}
    <script src="https://kit.fontawesome.com/66748fbdce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href= "{% static 'index.css'%}">

    <style>
        body{
            background-image: url("{%static 'bg.jpg'%}") ;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .main-heading {
            top: 25% !important;   
        }
        .content-right {
            padding: 80px 20px 0px 20px;
        }
        .main-right {
            background-color: #eee;
            padding: 20px 20px 20px 20px;
        }
        .fa-car{
            font-size: 100px;
        }    
    </style>
{% endblock styles %}


{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-5 content-left">
                <div class="main-heading">
                    <span class="border">Centralized Parking System</span>
                    <br>
                    <span class="border">Using Computer Vision</span><br><br><br>
                    <a href="{% url 'direction' %}"><input type="button" class="btn btn-custom" value="Direction"></a>
                    <a href="{% url 'available' %}"><input type="button" class="btn btn-custom" value="Check Availability"></a>
                    <a href="{% url 'booking' %}"><input type="button" class="btn btn-custom" value="Book"> </a> 
                </div>
            </div>
            <div class="col-md-7 content-right">
                <div class="container main-right">

                    <div class="row">
                        <div class="col-md-6 center"> <h4><i class="fas fa-car" style='font-size:48px; color: #ff3f34; text-align: center;'></i> : Non-vacant</h4></div>
                        <div class="col-md-6 center"><h4><i class="fas fa-car" style='font-size:48px; color: #0be881; text-align: center;'></i> : Vacant</h4></div>                                                                                                                                                                                                       
                    </div><br><br><br>

                    <div class="row">
                        <div class="col-md-3 center">
                            <i class="fas fa-car" id="car3"></i><br> 4<br> <br>
                            <i class="fas fa-car" id="car7"></i><br>8
                        </div>
                        <div class="col-md-3 center">
                            <i class="fas fa-car" id="car2"></i> <br>3 <br> <br>
                            <i class="fas fa-car" id="car6"></i><br>7
                        </div>
                        <div class="col-md-3 center">
                            <i class="fas fa-car" id="car1"></i> <br>2 <br> <br>
                            <i class="fas fa-car" id="car5"></i><br>6
                        </div>
                        <div class="col-md-3 center">
                            <i class="fas fa-car" id="car0"></i> <br>1 <br> <br>
                            <i class="fas fa-car" id="car4"></i><br>5
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}


{% block script %}
    <script type="text/javascript">
        status = {{availabe}};
        var arr = status.split(",");
        for (var i = 0; i < arr.length ; i++) {
            var text = "";
            text += "car" + i; 
            if(arr[i]== "0"){
                document.getElementById(text).style.color = "#ff3f34";
            } else{
                document.getElementById(text).style.color = "#0be881";
            }
        }
    </script>
{% endblock script %}