{% extends "base.html" %}
{% load static %}
    
{% block styles %}
    <link rel="stylesheet" href= "{% static 'index.css'%}">
    <style>
        body {
            background-image: url("{%static 'bg.jpg'%}") ;
            height: 100%; 

            /* Center and scale the image nicely */
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

{% endblock styles %}


{% block content %}

    <div class="main-heading">
        <span class="border">Centralized Parking System</span>
        <br>
        <span class="border">Using Computer Vision</span><br><br><br>
        <a href="{% url 'direction' %}"><input type="button" class="btn btn-custom" value="Direction"></a>
        <a href="{% url 'available' %}"><input type="button" class="btn btn-custom" value="Check Availability"></a>
        <a href="{% url 'booking' %}"><input type="button" class="btn btn-custom" value="Book"></a>
    </div>
    
{% endblock content %}


{% block script %}

{% endblock script %}